head
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=' crossorigin='anonymous')
  script(src='/js/404.js')
  link(rel='stylesheet' href='/css/404.css')
.not-found.parallax
  .sky-bg
  .wave-7
  .wave-6
  a.wave-island(href='/')
    img(src='http://res.cloudinary.com/andrewhani/image/upload/v1524501929/404/island.svg' alt='Island')
  .wave-5
  .wave-lost.wrp
    span 4
    span 0
    span 4
  .wave-4
  .wave-boat
    img.boat(src='http://res.cloudinary.com/andrewhani/image/upload/v1524501894/404/boat.svg' alt='Boat')
  .wave-3
  .wave-2
  .wave-1
  .wave-message
    p Your&apos;re lost little pug
    p Click on the island to return
