<form class="add-cart_form" action="/shop/cart" method="POST">
    <button class="cart-btn" type="submit">
        <img src="https://cdn0.iconfinder.com/data/icons/typicons-2/24/shopping-cart-20.png" />
        Add to cart</button>
    <input type="hidden" name="productId" value="<%= prod.id %>">
</form>