<form class="add-cart_form" action="/shop/cart" method="POST">
    <button class="cart-btn" type="submit">Add to cart</button>
    <input type="hidden" name="productId" value="<%= prod.id %>">
</form>